html {
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

body {
  color: rgba(0, 0, 0, 0.5);
  font-family: 'PingHei', 'PingFang SC', Helvetica Neue, 'Work Sans', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;
  font-size: 15px;
  width: 100%;
  margin: 0 auto 30px auto;
  background-color: #fff;

}
p {
  line-height: 1.9em;
  font-weight: 400;
  font-size: 14px;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  opacity: 1;
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  -o-transition: all .15s linear;
  -ms-transition: all .15s linear;
  transition: all .15s linear;
  color: #424242;

}

a:hover, a:active {
  color: #4786D6;

}