html {
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $body-font-color;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  width: 100%;
  margin: 0 auto 30px auto;
}
p {
  line-height: 1.9em;
  font-weight: 400;
  font-size: 14px;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  opacity: 1;
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  -o-transition: all .15s linear;
  -ms-transition: all .15s linear;
  transition: all .15s linear;
  color: #424242;

}

a:hover, a:active {
  color: #4786D6;
}