.footer {
  clear: both;
  text-align: center;
  font-size: 14px;
  margin: 0 auto;
  bottom: 0;
  position: absolute;
  width: 100%;
  padding-bottom: 20px;
  a {
    color: #A6A6A6;
  }
  a:hover{
    color: #4786D6;
  }
}