.pagination {
  margin: 30px;
  padding: 0px 0 56px 0;
  border-bottom: 1px solid #f2f2f2;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 13px;

    li {
      margin: 0 2px 0 2px;
      display: inline;
      line-height: 1;

       a {
        text-decoration: none;
      }
    }
  }

  .pre {
    float: left;
  }

  .next {
    float: right;
  }
}