@tailwind base;
@tailwind utilities;
@tailwind components;

/* Stitches classes */
button:focus {
  outline: 0;
}

.label-floating input:not(:placeholder-shown) {
  padding-top: 1.4rem;
}
.label-floating input:not(:placeholder-shown) ~ label {
  padding-top: 0.4rem;
  font-size: 0.7rem;
  transition: all 0.1s ease-in-out;
  color: #8795a1;
}

@responsive {
  .order-first {
    order: -1;
  }
  .order-0 {
    order: 0;
  }
  .order-1 {
    order: 1;
  }
  .order-2 {
    order: 2;
  }
  .order-3 {
    order: 3;
  }
  .order-4 {
    order: 4;
  }
  .order-last {
    order: 99999;
  }
  .column-0 {
    column-count: auto;
  }
  .column-2 {
    column-count: 2;
  }
}

.-translate-50-50 {
  transform: translate(-50%, -50%);
}

.transform-scale-1-1 {
  transform: scale(1.1);
}

.hover\:translate-y-1:hover {
  transform: translateY(-1px);
}

.hover\:transform-scale-subtle:hover {
  transform: scale(1.03);
}

.transition-normal {
  transition: 0.2s ease-in-out;
}

.tracking-extrawide {
  letter-spacing: 1em;
}

.hover\:show-child:hover .hover\:block {
  display: block;
}
