@font-face {
  font-family: "AvenirNext";
  src: url("fonts/AvenirNext/AvenirNext-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "AvenirNext";
  src: url("fonts/AvenirNext/AvenirNext-Demi.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNext";
  src: url("fonts/AvenirNext/AvenirNext-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "AvenirNext";
  src: url("fonts/AvenirNext/AvenirNext-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNext";
  src: url("fonts/AvenirNext/AvenirNext-UltLt.woff") format("woff");
  font-weight: 100;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "AvenirNext", sans-serif;
  background-color: #fafbfc;
  display: flex;
  height: 100vh;
  font-weight: 400;
}
button {
  border: 1px solid #0000;
  padding: 0.5rem 0.6rem 0.3rem 0.6rem;
  border-radius: 0.25rem;
  font-family: "AvenirNext", sans-serif;
  font-weight: 400;
  font-size: 0.6rem;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
}
button:hover {
  transition: 0.1s;
  box-shadow: 3px 3px 10px rgba(77, 161, 255, 0.07);
}
button.btn--primary {
  background-color: #89937a;
  color: white;
}
button.btn--secondary {
  background-color: white;
  border-color: #e9eff4;
  color: #323c47;
}
button.btn--isSelected {
  border-color: #89937a;
}
.header {
  display: flex;
  align-items: center;
  font-weight: 700;
  padding-top: 0.65rem;
}
.header h3 {
  flex: 1;
  font-weight: 500;
}
.filter {
  margin-bottom: 1rem;
}
.filter > button {
  margin-right: 0.4rem;
}
.preview {
  width: 30%;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  min-width: 260px;
  justify-content: flex-start;
}
.instruction {
  color: #a5b6c8;
  font-size: 0.8rem;
}
.filterableSnippets {
  background-color: white;
  padding: 1.8rem 1.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.droppable {
  flex: 1;
  margin-top: 1rem;
}
.droppable .snippet {
  margin-bottom: -1px;
}
.snippets {
  column-count: 2;
  column-gap: 10px;
  padding-right: 4px;
}
.snippet {
  border: 1px solid #e9eff4;
  margin-bottom: 10px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  cursor: -webkit-grab;
  cursor: grab;
  width: 100%;
}
.snippet:hover {
  border-color: #89937a;
  transition: 1s;
}
