<section class="bg-white py-4 font-sans">
  <div class="container container max-w-xl m-auto flex flex-wrap flex-col md:flex-row items-center justify-start">
    <div class="w-full lg:w-1/2 p-3">
      <div class="flex flex-col lg:flex-row rounded overflow-hidden h-auto lg:h-32 border shadow shadow-lg">
        <img class="block h-auto w-full lg:w-48 flex-none bg-cover"
             src="https://source.unsplash.com/random/200x125">
        <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
          <div class="text-black font-bold text-xl mb-2 leading-tight">Can coffee make you a better developer?</div>
          <p class="text-gray-700 text-base">Read more</p>
        </div>
      </div>
    </div>
    <div class="w-full lg:w-1/2 p-3">
      <div class="flex flex-col lg:flex-row rounded overflow-hidden h-auto lg:h-32 border shadow shadow-lg">
        <img class="block h-auto w-full lg:w-48 flex-none bg-cover"
             src="https://source.unsplash.com/random/200x125">
        <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
          <div class="text-black font-bold text-xl mb-2 leading-tight">Can coffee make you a better developer?</div>
          <p class="text-gray-700 text-base">Read more</p>
        </div>
      </div>
    </div>
  </div>
</section>