<section class="font-sans container m-auto text-center py-8">
  <label for="tagline" class="uppercase tracking-loose">best app ever</label>
  <h1 class="mt-2 mb-4 font-light max-w-sm m-auto">Those are important in Vanue Management</h1>
  <hr class="border-b w-8 m-auto my-6">
  <div class="flex flex-wrap max-w-xl m-auto">
    <div class="w-full sm:w-1/2 md:w-1/4 flex flex-col items-center justify-center p-4">
      <img class="w-10 h-10 rounded-full mr-4 bg-grey-light" src="" alt="Avatar of Jonathan Reinink">
      <h2 class="my-4 font-light">Our Work Flow</h2>
      <p class="leading-normal mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 flex flex-col items-center justify-center p-4">
      <img class="w-10 h-10 rounded-full mr-4 bg-grey-light" src="" alt="Avatar of Jonathan Reinink">
      <h2 class="my-4 font-light">Our Work Flow</h2>
      <p class="leading-normal mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 flex flex-col items-center justify-center p-4">
      <img class="w-10 h-10 rounded-full mr-4 bg-grey-light" src="" alt="Avatar of Jonathan Reinink">
      <h2 class="my-4 font-light">Our Work Flow</h2>
      <p class="leading-normal mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/4 flex flex-col items-center justify-center p-4">
      <img class="w-10 h-10 rounded-full mr-4 bg-grey-light" src="" alt="Avatar of Jonathan Reinink">
      <h2 class="my-4 font-light">Our Work Flow</h2>
      <p class="leading-normal mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</section>