<section class="font-sans container max-w-xl m-auto flex flex-col lg:flex-row justify-center my-8">
  <div class="order-2 lg:order-1 w-full lg:w-1/4 flex flex-col items-center lg:items-end justify-center text-center lg:text-right ml-0 lg:ml-8 mt-8">
    <div class="w-12 h-12 rounded-full bg-gray-300 mb-2" alt="Avatar of Jonathan Reinink"></div>
    <h2 class="text-black mb-2 font-normal">Praesent placerat.</h2>
    <p class="text-gray-700 leading-normal mb-8">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <div class="w-12 h-12 rounded-full bg-gray-300 mb-2" alt="Avatar of Jonathan Reinink"></div>
    <h2 class="text-black mb-2 font-normal">Fusce pellentesque suscipit nibh.</h2>
    <p class="text-gray-700 leading-normal mb-8">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <div class="w-12 h-12 rounded-full bg-gray-300 mb-2" alt="Avatar of Jonathan Reinink"></div>
    <h2 class="text-black mb-2 font-normal">Ut aliquam sollicitudin leo.</h2>
    <p class="text-gray-700 leading-normal">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
  <div class="order-1 lg:order-2 w-full lg:w-1/2 max-w-sm m-auto mb-6 lg:mb-0">
    <img src="https://stitches.hyperyolo.com/images/demo-phone.png" alt="">
  </div>
  <div class="order-last w-full lg:w-1/4 flex flex-col items-center lg:items-start justify-center text-center lg:text-left mt-8 mr-8">
    <div class="w-12 h-12 rounded-full bg-gray-300 mb-2" alt="Avatar of Jonathan Reinink"></div>
    <h2 class="text-black mb-2 font-normal">Cras iaculis ultricies nulla.</h2>
    <p class="text-gray-700 leading-normal mb-8">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <div class="w-12 h-12 rounded-full bg-gray-300 mb-2" alt="Avatar of Jonathan Reinink"></div>
    <h2 class="text-black mb-2 font-normal">Praesent placerat risus quis eros.</h2>
    <p class="text-gray-700 leading-normal mb-8">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <div class="w-12 h-12 rounded-full bg-gray-300 mb-2" alt="Avatar of Jonathan Reinink"></div>
    <h2 class="text-black mb-2 font-normal">Nunc dignissim risus id metus.</h2>
    <p class="text-gray-700 leading-normal">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
</section>