<section class="font-sans flex flex-col lg:flex-row">
  <div class="w-full lg:w-1/2"><img src="https://stitches.hyperyolo.com/images/demo-phone.png" alt=""></div>
  <div class="w-full lg:w-1/2 flex flex-col items-center justify-center text-center p-8">
    <h1 class="my-4 font-normal">App Features</h1>
    <p class="leading-normal mb-4 w-2/3 text-gray-700">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</section>