<section class="my-8 font-sans container m-auto max-w-xl ">
  <div class="text-center">
    <h1 class="my-4 font-medium">Show Your Work</h1>
    <p class="leading-normal mb-4 max-w-sm m-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="flex flex-col sm:flex-row flex-wrap my-8">
    <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 border-gray-300 border-r border-b hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child">
      <div class="w-12 h-12 rounded-full bg-gray-300" alt=""></div>
      <h3 class="mt-4 mb-1">Digital</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal px-6 hidden hover:block">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8  border-gray-300 border-r border-b hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child">
      <div class="w-12 h-12 rounded-full bg-gray-300" alt=""></div>
      <h3 class="mt-4 mb-1">Branding</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal hidden hover:block">Praesent dapibus, neque id cursus faucibus, tortor neque egestas auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat.</p>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8  border-gray-300 border-b hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child">
      <div class="w-12 h-12 rounded-full bg-gray-300" alt=""></div>
      <h3 class="mt-4 mb-1">Excellence</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal hidden hover:block">Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus.</p>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8  border-gray-300 border-r hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child">
      <div class="w-12 h-12 rounded-full bg-gray-300" alt=""></div>
      <h3 class="mt-4 mb-1">Strategy</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal hidden hover:block">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8  border-gray-300 border-r hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child">
      <div class="w-12 h-12 rounded-full bg-gray-300" alt=""></div>
      <h3 class="mt-4 mb-1">Design</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal hidden hover:block">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8 border-gray-300  hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child">
      <div class="w-12 h-12 rounded-full bg-gray-300" alt=""></div>
      <h3 class="mt-4 mb-1">Development</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal hidden hover:block">Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. </p>
    </div>
  </div>
</section>