<footer class="font-sans bg-black text-white py-8 px-4">
  <div class="mx-auto max-w-xl overflow-hidden flex justify-between items-center">
    <a href="/" class="block mr-4 w-1/3">
      <img src="./logo-white.png" class="" alt="logo">
    </a>
    <ul class="text-sm text-grey-dark list-reset flex items-center w-2/3">
      <li><a href="#" class="inline-block py-2 px-3 text-grey hover:text-grey-light no-underline">Product</a></li>
      <li><a href="#" class="inline-block py-2 px-3 text-grey hover:text-grey-light no-underline">Company</a></li>
      <li><a href="#" class="inline-block py-2 px-3 text-grey hover:text-grey-light no-underline">FAQs</a></li>
      <li><a href="#" class="inline-block py-2 px-3 text-grey hover:text-grey-light no-underline">About Us</a></li>
    </ul>
  </div>
  <p class="inline-block py-2 px-3 text-grey-darker text-xs border b-t-1"> ©2018 Hyperyolo. All rights reserved.</p>
</footer>