<footer class="font-sans bg-black text-white py-8 px-4">
  <div class="mx-auto max-w-xl overflow-hidden flex justify-between items-center">
    <ul class="text-sm text-grey-dark list-reset flex items-center">
      <li> <a href="/" class="block mr-4 w-32">
      <img src="https://stitches-cdn.hyperyolo.com/logo-white.png" class="" alt="logo">
    </a></li>
      <li><a href="#" class="inline-block py-2 px-3 text-grey hover:text-grey-light no-underline">Product</a></li>
      <li><a href="#" class="inline-block py-2 px-3 text-grey hover:text-grey-light no-underline">Company</a></li>
      <li><a href="#" class="inline-block py-2 px-3 text-grey hover:text-grey-light no-underline">FAQs</a></li>
      <li><a href="#" class="inline-block py-2 px-3 text-grey hover:text-grey-light no-underline">About Us</a></li>
    </ul>
    <p class="inline-block py-2 px-3 text-grey-darker text-xs"> ©2019 Hyperyolo. All rights reserved.</p>
  </div>
</footer>
