<footer class="font-sans bg-black text-white py-8 px-4">
  <div class="mx-auto max-w-xl overflow-hidden flex justify-between items-center">
    <ul class="text-sm text-gray-700 list-none p-0 flex items-center">
      <li> <a href="/" class="block mr-4 w-32">
          <img src="https://stitches.hyperyolo.com/images/logo-white.png" class="" alt="logo">
        </a></li>
      <li><a href="#" class="inline-block py-2 px-3 text-gray-500 hover:text-gray-500-light no-underline">Product</a></li>
      <li><a href="#" class="inline-block py-2 px-3 text-gray-500 hover:text-gray-500-light no-underline">Company</a></li>
      <li><a href="#" class="inline-block py-2 px-3 text-gray-500 hover:text-gray-500-light no-underline">FAQs</a></li>
      <li><a href="#" class="inline-block py-2 px-3 text-gray-500 hover:text-gray-500-light no-underline">About Us</a></li>
    </ul>
    <p class="inline-block py-2 px-3 text-gray-700 text-xs"> ©2019 Hyperyolo. All rights reserved.</p>
  </div>
</footer>