<ul class="font-sans list-none p-0 container m-auto text-gray-900">
  <li class="inline-block border-b border-gray-300 flex justify-between items-center py-4">
    <div class="flex items-start w-2/5">
      <div class="w-10 h-10 rounded mr-3">
        <div class="rounded-full h-10 w-10 bg-gray-300 m-auto"></div>
      </div>
      <div class="flex-1 overflow-hidden">
        <div>
          <span class="font-bold">Logan Slayer</span>
          <span class="text-gray-700 text-xs">@logan</span>
        </div>
        <p class="text-black leading-normal">1-324-352-3000</p>
      </div>
    </div>
    <p class="w-2/5">UI/UX Designer @Squarespace.</p>
    <label for="status" class="font-bold w-1/5 text-right">Active</label>
  </li>
  <li class="inline-block border-b border-gray-300 flex justify-between items-center py-4">
    <div class="flex items-start w-2/5">
      <div class="w-10 h-10 rounded mr-3">
        <div class="rounded-full h-10 w-10 bg-gray-300 m-auto"></div>
      </div>
      <div class="flex-1 overflow-hidden">
        <div>
          <span class="font-bold">Sarah Mann</span>
          <span class="text-gray-700 text-xs">@sarah</span>
        </div>
        <p class="text-black leading-normal">1-324-111-0000</p>
      </div>
    </div>
    <p class="w-2/5">Web security expert at cloudflare</p>
    <label for="status" class="font-bold w-1/5 text-right">Inactive</label>
  </li>
  <li class="inline-block flex justify-between items-center py-4">
    <div class="flex items-start w-2/5">
      <div class="w-10 h-10 rounded mr-3">
        <div class="rounded-full h-10 w-10 bg-gray-300 m-auto"></div>
      </div>
      <div class="flex-1 overflow-hidden">
        <div>
          <span class="font-bold">Kotlin Lee</span>
          <span class="text-gray-700 text-xs">@kotlin</span>
        </div>
        <p class="text-black leading-normal">1-332-435-1322</p>
      </div>
    </div>
    <p class="w-2/5">System admin at Drip.</p>
    <label for="status" class="font-bold w-1/5 text-right">Active</label>
  </li>
</ul>