<nav class="font-sans bg-white text-center flex justify-between my-4 mx-auto container overflow-hidden items-center">
  <div class="flex items-center">
    <a href="/" class="mr-4 w-32">
      <img src="https://stitches.hyperyolo.com/images/logo.png" class="rounded-full w-full" alt="logo">
    </a>
    <input type="search" placeholder="Search" class="text-sm transition focus:outline-0 border border-transparent focus:bg-white focus:border-gray-300 placeholder-gray-900 rounded bg-gray-300 py-1 px-2 pl-10 appearance-none leading-normal ds-input">
    <ul class="text-sm text-gray-700 list-none p-0 flex items-center">
      <li><a href="#" class="inline-block py-2 px-3 text-gray-900 hover:text-gray-700 no-underline">Status</a></li>
      <li><a href="#" class="inline-block py-2 px-3 text-gray-900 hover:text-gray-700 no-underline">Questions</a></li>
    </ul>
  </div>
  <ul class="text-sm text-gray-700 list-none p-0 flex items-center">
    <li><a href="#" class="inline-block py-2 px-3 text-gray-900 hover:text-gray-700 no-underline">Log In</a></li>
    <li>
        <button class="bg-black hover:bg-text-gray-800 text-white ml-4 py-2 px-3">
    Sign Up
    </button>
    </li>
  </ul>
</nav>