<nav class="font-sans bg-white text-center flex justify-between items-center my-4 mx-auto container overflow-hidden">
  <button class="bg-transparent text-sm hover:text-grey-dark text-grey-darkest py-2 px-3">
  Subscribe
  </button>
  <ul class="text-sm text-grey-dark list-reset flex items-center">
    <li><a href="#" class="inline-block py-2 px-3 text-grey-darkest hover:text-grey-dark no-underline">Products</a></li>
    <li><a href="#" class="inline-block py-2 px-3 text-grey-darkest hover:text-grey-dark no-underline">Pricing</a></li>
    <li class="px-6"><a href="/" >
      <img src="https://stitches-cdn.hyperyolo.com/logo.png" class="h-10 sm:h-10 rounded-full" alt="logo">
    </a></li>
    <li><a href="#" class="inline-block py-2 px-3 text-grey-darkest hover:text-grey-dark no-underline">About Us</a></li>
    <li><a href="#" class="inline-block py-2 px-3 text-grey-darkest hover:text-grey-dark no-underline">Status</a></li>
  </ul>
  <button class="text-sm bg-black hover:bg-grey-darker text-white ml-4 py-2 px-3">
  Log In
  </button>
</nav>