<section class="bg-white py-4 font-sans">
  <div class="container max-w-xl m-auto flex flex-wrap md:flex-no-wrap items-center justify-between">
    <div class="flex w-full justify-start justify-center md:justify-start">
      <div class="flex flex-col border-r px-8 items-center">
        <h1 class="">34%</h1>
        <span class="text-xs block uppercase text-gray-900 tracking-wide mt-1">clickrate</span>
      </div>
      <div class="flex flex-col px-8 border-r items-center">
        <h1 class="">465</h1>
        <span class="text-xs block uppercase text-gray-900 tracking-wide mt-1">pageviews</span>
      </div>
      <div class="flex flex-col px-8 items-center">
        <h1 class="">65%</h1>
        <span class="text-xs block uppercase text-gray-900 tracking-wide mt-1">influence</span>
      </div>
    </div>
    <button class="w-full md:w-32 bg-black hover:bg-black text-white py-2 px-4 mt-6 md:mt-0" type="button">
    Read More
    </button>
  </div>
</section>