<section class="bg-white py-4 font-sans">
  <div class="container m-auto max-w-xl flex items-baseline justify-start border-b-2 border-gray-300 mb-10">
  <h2 class="text-gray-700 text-base font-bold tracking-wide uppercase py-4 px-6">All</h2>
  <h2 class="text-base font-bold tracking-wide uppercase py-4 px-6 border-b-2 border-black -mb-4">Recent</h2>
  <h2 class="text-gray-700 text-base font-bold tracking-wide uppercase py-4 px-6">Assigned to Me</h2>
  <h2 class="text-gray-700 text-base font-bold tracking-wide uppercase py-4 px-6">Pending</h2>
  </div>
</section>