@import 'scss/variable';
@import 'scss/base';
@import 'scss/animation';
@import 'scss/page-top';
@import 'scss/sidebar';
@import 'scss/post';
@import 'scss/pagination';
@import 'scss/footer';


.like-reblog-buttons {
	float: right;
}

.like-button {
	float: right;
	padding: 0 0 0 10px;
}

.reblog-button {
	float: right;
	padding: 0;
}

#install-btn {
	position: fixed;
	bottom: 0px;
	right: 6px
}

#disqus_thread {
	margin: 30px;
	border-bottom: 1px solid #f2f2f2;
}

/*for archive*/
.archive{
	width: 100%;
}
.list-with-title{
	font-size: 14px;
	margin: 30px;
	padding: 0;
	li {
        list-style-type: none;
        padding: 0;
    }

	.listing-title {
		font-size: 24px;
		color: #666666;
		font-weight: 600;
		line-height: 2.2em;
	}
	.listing{
        padding: 0;
		.listing-post {
			padding-bottom: 5px;

			.post-time {
				float: right;
				color: #C5C5C5;
			}

			 a {
				color: #8F8F8F;

				 &:hover{
					 color: #4786D6;
				 }
			}

		}
	}
}
/* share */
.share{
	margin: 0px 30px;
	display: inline-flex;
}
.evernote{
	width: 32px;
	height: 32px;
	border-radius: 300px;
	background-color: #3E3E3E;
	margin-right:5px;
		a{
			color: #fff;
			padding: 11px;
			font-size: 12px;
		}
 		a:hover{
			color: #ED6243;
			padding: 11px;
		}
}

.twitter{
	width: 32px;
	height: 32px;
	border-radius: 300px;
	background-color: #59C0FD;
	margin-right:5px;

		a{
			color: #fff;
			padding: 9px;
		}
		a:hover{
			color:#4B9ECE;
		}
}
/* about */
.about{
	margin: 30px;
	h3{
		font-size: 22px;
	}
}
/* links*/
.links{
	margin: 30px;
	h3{
		font-size: 22px;
	}
	a{
		cursor: pointer;
	}
}
/* 评论样式 */

.comment-count {
	color: #666;
}

.tab-community {
	color: #666;
}

.read_more {
	font-size: 14px;
}

.back-button {
	padding-top: 30px;
	max-width: 100px;
	padding-left: 40px;
	float: left;
}
/* 默认评论样式 */

#fb_comments_container{
	margin: 30px;
}
/* 按钮样式 */
a.btn {
	color: #868686;
	font-weight: 400;

}

.btn {
	display: inline-block;
	position: relative;
	outline: 0;
	color: rgba(0, 0, 0, 0.44);
	background: rgba(0, 0, 0, 0);
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.15);
	white-space: nowrap;
	font-weight: 400;
	font-style: normal;
	border-radius: 999em;
}

.btn:hover {
	display: inline-block;
	position: relative;
	outline: 0px;
	color: #464545;
	background: rgba(0, 0, 0, 0);
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid #464545;
	white-space: nowrap;
	font-weight: 400;
	font-style: normal;
	border-radius: 999em;
}

[role="back"] {
	padding: 0.5em 1.25em;
	line-height: 1.666em;
}

[role="home"] {
	padding: 0.5em 1.25em;
	line-height: 1.666em;
}

[role="navigation"] {
	padding: 0.5em 1.25em;
	line-height: 1.666em;
}

[role="tags"] {
	padding: 6px 12px;
}

/* Menu */
.menu {
	float: right;
	padding-top: 30px;

	.btn-down{
		margin: 0px;
		li {
			list-style: none;
			width: 100px;

			 a {
				display: inline-block;
				position: relative;
				padding: 0.5em 1.25em;
				outline: 0;
				color: rgba(0, 0, 0, 0.44);
				background: rgba(0, 0, 0, 0);
				font-size: 14px;
				text-align: center;
				text-decoration: none;
				cursor: pointer;
				border: 1px solid rgba(0, 0, 0, 0.15);
				white-space: nowrap;
				font-weight: 400;
				font-style: normal;
				border-radius: 999em;
				margin-top: 5px;

				 &:hover{
					 position: relative;
					padding: 0.5em 1.25em;
					outline: 0;
					color: #fff;
					background: #3CBD10;
					font-size: 14px;
					text-align: center;
					text-decoration: none;
					cursor: pointer;
					border: 1px solid rgba(0, 0, 0, 0.15);
					white-space: nowrap;
					font-weight: 400;
					font-style: normal;
					border-radius: 999em;
					margin-top: 5px;
				 }
			}

		}
	}

	.btn-down div {
		position: absolute;
		visibility: hidden;
		width: 100px;
		float: right;

	}

}

.page_404{
	text-align:center;
	padding-top:50px;
}
@media screen and (max-width: 960px) {
	.sidebar {
		width: 100%;
		position:absolute;
		border-right:none;
		z-index: 1;
			.logo-title{
				padding-top: 120px;

				.title{

					img{
						width: 100px;
					}
					h3{
						font-size: 20px;
					}
				}
			}
		}
	.page-top{
		width: 100%
	}
	.post-title h3{
		line-height: 1.6;
	}
	.content{
		margin-top: 420px;
		width: 100%;
		z-index: 2;
		position: absolute;
	}
	.footer{
		display: none;
	}
	.share{
		display: grid;
	}

}
