nav {
  display: grid;
  grid-template-columns: 70px auto 20px;
}

.logo {
  padding: 16px;
}

.top-nav {
  padding-left: 0;
  overflow: hidden;
  list-style: none;
}

.top-nav .icon {
  display: none;
}

.top-nav .icon.open {
  border: 1px solid red;
}

.nav-item {
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .top-nav {
    display: none;
  }

  .top-nav .icon {
    display: block;
  }

  .top-nav.responsive {
    position: relative;
  }

  .top-nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .top-nav.responsive .nav-item {
    display: block;
    text-align: left;
  }

}