nav {
  display: grid;
  grid-template-columns: 70px auto;
}

.logo {
  padding: 16px;
}

.menu {
  padding-left: 0;
  overflow: hidden;
  list-style: none;
}

.toggle {
  display: none;
}

.toggle.open {
  border: 1px solid red;
}

.menu__item {
  display: inline-block;
}

.menu__item.toggle {
  display: none;
}

@media screen and (max-width: 600px) {
  nav {
    grid-template-columns: 70px auto;
  }

  .menu__item{
    display: none;
  }

  .menu__item.toggle {
    display: block;
  }

  .menu {
    text-align: right;
  }

  .toggle {
    display: block;
  }

  .menu.responsive .menu__item {
    display: block;
    padding: 0 1rem;
  }
}